* text=auto
*.sh text eol=lf
*.shbang text eol=lf
*.json text eol=lf
*.md text eol=lf
Dockerfile* text eol=lf
bin/sh.bang text eol=lf
tests/run-tests text eol=lf
tests/e2e/e2e_test_key binary
tests/e2e/e2e_test_key.pub binary
